@font-face {
    font-family: missionfont;
    src: url(D-DIN-Bold.otf);
  }
  @font-face {
    font-family: "DIN Neuzeit Grotesk";
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
    src: url("https://fonts.shopifycdn.com/din_neuzeit_grotesk/dinneuzeitgrotesk_n7.2e3a6dec0d428cd2d2453b96ef3acb526d6f681d.woff2?h1=c3BhY2V4LmNvbQ&hmac=3183bc7727a3e7a2ee8d460b36d9cbe1575a1e1e55b67d20d34eb7b49d61fd10") format("woff2"), url("https://fonts.shopifycdn.com/din_neuzeit_grotesk/dinneuzeitgrotesk_n7.59a1cdca66d0ea85e97f53efe77e96911d042cfb.woff?h1=c3BhY2V4LmNvbQ&hmac=8f45b474f345be82d0bc79bcc08c54510bfc42afa09c5aef33dc217818490f94") format("woff"); }
.header-outer{
text-align: center;
}
.announcement{
/* background-color: red;
height: 43.8px;
top: 0;
left: 0;
right: 0;
position: absolute;
position: sticky; */
}
.announcment-message{
position: absolute;
/* display: none; */
top: 0;
width: fit-content;
margin-left: auto;
margin-right: auto;
left: 0;
right: 0;
font-family: "DIN Neuzeit Grotesk", sans-serif;
font-size: 12px;
letter-spacing: 1.2px;
font-weight: 700;
line-height: 19.8px;
}
@media (max-width:640px){
.announcment-message{
    font-size: 11px;
    letter-spacing: 1.1px;
    line-height: 17.5px;
    padding-left: 20px;
    padding-top: 2px;
    padding-right: 20px;
}
}
.nav-outer{
    padding-top: 43.8px;
    height: 84px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: black;
    position: fixed;
color: white;
z-index: 2;
border-bottom:.1px solid rgb(51, 51, 51) ;
}
.mobile-nav-outer{
    display: none;
}
.nav-left{
display: flex;
align-items: center;
}
.logo{
    height: 19.5px;
    margin-left: 62px;
    margin-top: 17px;

}
.nav-links{
    list-style-type: none;
    display: flex;
align-items: center;
margin-top: 32px;
font-size: 15px;
margin-left: -10px;
}
.nav-link{
font-family:missionfontthin;
text-transform: uppercase;
font-weight: 600;
margin-right: 42px;
letter-spacing: 1.5px;
}
.nav-right{
    padding-top: 43.8px;

    position: absolute;
    right: 50px;
    top: 18px;
}
.nav-links-right{
    list-style-type: none;
    display: flex;
    text-transform: uppercase;
}
.nav-link-right{
    margin-right: 28px;
    font-size: 13px;
    font-weight: 600;
    font-family: missionfontthin;
    color: rgb(136, 135, 135);
    letter-spacing: 1.25px;

}
.nav-link-right-cart{
    /* margin-right: 42px; */
    font-size: 15px;
    font-family: missionfontthin;
    margin-top: -2px;
    letter-spacing: 1.5px;
    margin-left: 4px;
}
@media(max-width:1240px){
    .nav-left{
        display: none;
    }
    .nav-right{
        display: none;
    }
    .mobile-nav-outer{
        display: block;
    }

    .nav-center-mobile{
        height:19.5px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top: 32px;
        padding-left: 20px;
    }
    .nav-left-mobile{
    padding-top: 43.8px;

        position: absolute;
        left: 24px;
        top:26px;
    }
 
    .hamburger{
        height: 31px;
    cursor: pointer;

    }
    .nav-right-mobile{
    padding-top: 43.8px;

        position: absolute;
        right: 20px;
        top: 27px;
    }
    .searchicon{
    padding-top: 43.8px;

        position: absolute;
        right: 40px;
        top: 1px;
        height: 33px;
        margin-right: 5px;
    }
    .carticon{
        height: 31px;

    }
}
@media(max-width:640px){
    .nav-outer{
        padding:30px;
        height: 60px;
    }


    .nav-center-mobile{
        height:12px;
        display: flex;
        justify-content: center;
        margin: auto;
        margin-top:54px;
        padding-left: 10px;
    }
    .nav-left-mobile{
    padding-top: 43.8px;

        position: absolute;
        left: 12px;
        top:32px;
    }
 
    .hamburger{
        height: 28px;
    }
    .nav-right-mobile{
    padding-top: 49.5px;

        position: absolute;
        right: 8px;
        top: 27px;
    }
    .searchicon{
    padding-top:51px;

        position: absolute;
        right: 32px;
        top: 1px;
        height: 28px;
        margin-right: 5px;
    }
    .carticon{
        height: 28px;
        width: 36px;

    }
}
.nav-link-right:hover{
    color: white;
    cursor: pointer;
}

 

.nav-sidebar{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 4;
    width: 340px;
    background-color: white;
    height: 100vh;

}

.xicon{
    height: 22px;
    width: 22px;
    position: absolute;
    left: 27px;
    top: 30px;
    z-index: 5;
    cursor: pointer;
}

.nav-sidebar ul{

    width:280px;
    height: 400px;
    margin-top: 85px;
    /* border: 2px solid black; */
    margin-left: auto;
    margin-right: auto;
    list-style-type: none;
    /* position: absolute; */
    /* left: 0; */
    padding: 0;
}
.nav-sidebar ul li{
    letter-spacing: 1.5px;
    font-size: 15px;
    font-family: missionfontthin;
    line-height: 24.75px;
    z-index: 5;
    color: black;
    display: flex;
    color: rgb(92, 92, 92);
    border-bottom: .1px solid rgb(211, 211, 211);
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 4px;
    margin-top: 6px;
    cursor: pointer;
    text-transform: uppercase;
}
.sidebar-account-link{
    /* border: 2px solid black; */
    text-align: left;
    color: rgba(92,92,92,.5);
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 22.5px;
    margin-top: 28px;
    cursor: pointer;
}
.sidebar-account-link:hover{
    color: black;
}

@media (max-width:640px){
    .nav-sidebar{
        width: 89vw;
    }
    .nav-sidebar ul{
        width: 79vw;
    }
}

