
/* .account-page{
  height: 100vh;

} */
.login-form-outer{
    display: grid;
    place-items: center;
margin-top: 31.4vh;
}
.login-form{
    display: grid;
    place-items: center;
}
.form-title{
    font-size: 24px;
    line-height: 39.6px;
    font-weight: 700;
    letter-spacing: 2.4px;
}
.form-subheading{
    font-size: 15px;
    font-family: sans-serif;
    font-weight: 300;
    line-height: 24.75px;
    color:rgb(92, 92, 92);
    margin-top: 4px;
}
.email-input, .password-input{

    width: 380px;
    height: 44px;
    font-family: sans-serif;
    font-size: 15px;
    font-weight: 300;
    border: .1px solid rgb(226, 226, 226);
    margin-bottom: 14px;
    padding-left: 20px;
    color: black;
}
.submit-btn{
    width: 400px;
    height: 44px;
    background-color: black;
    color: white;
    text-align: center;
    font-weight: 1000;
    border: .1px solid black;
    /* margin-top: 20px; */
}
.form-conclusion-text{
    font-family: sans-serif;
    font-size: 15px;
    line-height: 24.75px;
    font-weight: 300;
    
}
.email-input::placeholder,
.password-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color:rgb(92, 92, 92);
    opacity: 1; /* Firefox */
  }
  
  .email-input:-ms-input-placeholder,
  .password-input:-ms-input-placeholder  { /* Internet Explorer 10-11 */
    color:rgb(92, 92, 92);
  }
  
  .email-input::-ms-input-placeholder,
  .password-input::-ms-input-placeholder { /* Microsoft Edge */
    color:rgb(92, 92, 92);
  }
.submit-btn::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
  }
  
  .submit-btn:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: white;
  }
  
  .submit-btn::-ms-input-placeholder { /* Microsoft Edge */
    color: white
  }