html, body {margin: 0; padding: 0; overflow-x:hidden;}

.product-page-outer{
margin: auto;
margin-top:134px;
display: flex;
justify-content: center;
width: fit-content;
padding-bottom: 300px;
}
.product-img{
    width: 780px;
margin-right: 50px;
}

.product-content{
    width: 450px;
}
.product-page-name{
    font-size: 22px;
    line-height: 36.3px;
    letter-spacing: 2.2px;
    width: 400px;
    margin-top: 16px;
}
.product-page-price{
    font-size: 19px;
    line-height: 31.5px;
    letter-spacing: 1.5px;
    text-align: left;
    padding-bottom: 24px;
    width: 400px;
    border-bottom: .1px solid rgb(228, 228, 228);
}
.fabric-content{
    font-family: sans-serif;
    font-weight: 700;
    font-size: 15px;
    line-height: 24.75px;
    color: #5c5c5c;
}
.fabric-details-list{
    margin-top: -20px;
    font-size: .1px;
    font-weight: 100;
}
.fabric-details-list li{
    font-family: sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 24.75px;
    color: #5c5c5c;
}
.color-selection{
    margin-top: 40px;
}
select{
    width: 400px;
    border: .1px solid rgb(223, 223, 223);
    height: 46.75px;
    margin-bottom: 10px;
    outline: none;
    padding-left: 10px;
    font-size: 15px;
    color: rgb(158, 158, 158);
    /* -webkit-appearance: none; */
/* -moz-appearance: none; */
 /* appearance: none; */
 border-radius: 0px;
}
.add-tocart-btn{
    background-color: black;
    width: 400px;
    text-align: center;
    border: .1px solid black;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    color: white;
    letter-spacing: 1.3px;
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    color: white;
}


@media (max-width:1500px){
    .product-img{
    width: 730px;
    }
}
@media (max-width:1330px){
    .product-page-outer{
        padding-left: 25px;
    }
    .product-img{
    width: 48vw;
    margin-right: 40px;
    }
    .product-content{
        width: 430px;
    }
    
}
@media(max-width:1000px){
    .product-page-outer{
        display: block;
        padding-left: 0px;
        margin-top:84px;
    }
    .product-img{
        margin: 0px;
        /* height: 400px; */
        /* width: 100vw; */
        width: 100vw;

    }
    .product-content{
        margin-left: auto;
        margin-right: auto;
        width: 500px;
        display: grid;
        margin-top: 100px;
    }
    .product-page-name{
        width: fit-content;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }
    .product-page-price{
margin-left: auto;
margin-right: auto;
width: 100%;
text-align: center;
margin-top: 0px;
    }
    .fabric-content{
        margin-left: auto;
        margin-right: auto;
    }
    .fabric-details-list{
        padding-left: 18px;
    }
    .selections{
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        /* border: 1px solid black; */
    }
    .selections{
        /* margin-top: 30px; */
    }
    .selections select{
        width: 500px;
    }
    .add-tocart-btn{
        width: 500px;
    }
}
@media(max-width:640px){
    .product-page-outer{
        margin-top: 60px;
    }
}   
@media(max-width:530px){
    .product-content{
        width: 82vw;
        margin-left: auto;
        margin-right: auto;
        /* border: 1px solid black; */
        margin-top: 10px

    }
    .selections select{
        width: 82vw;
    }
    .add-tocart-btn{
        width: 82vw;
    }

}