@font-face {
    font-family: spacexfont;
    src: url("spacexfont.otf")
  }
.homepage-outer{
      text-align: center;
    margin-top: 128px;
    position: relative;
  }
.leading-img1{
    height: 40.97vw;
    background-image: url("https://cdn.shopify.com/s/files/1/0261/2615/5855/files/SpaceX_Store_Header_8bea78f5-04fb-49cd-8fa7-62b9c50b980d_2000x.jpg?v=1566589024");
    -webkit-background-size: contain;
    position: relative;
	-moz-background-size: contain;
	-o-background-size: contain;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;

}
.leading-title{
    /* font-family:spacexfont; */
    font-size: 43px;
font-weight: 500;
color: white;
width: fit-content;
margin-top: -7.5vw;
letter-spacing: 4.3px;
font-style: normal;
transition: color 0.2s ease-in-out;
letter-spacing: 0.1em;
line-height: 70.95px;
}
@media (max-width:640px){
    .leading-img1{
        margin-top: -7px;
    }
    .leading-title{
        font-size: 24px;
        line-height: 39.6px;
        letter-spacing: 2.4px;
    }
}
