
.footer-outer{
    height: 346.5px;
    /* position: absolute; */

    bottom: 0;
    left: 0;
    right: 0;
    background-color: black;
}
.footer-list{
    margin-left: auto;
    margin-right: auto;
    font-family: sans-serif;
    color: white;
    display: flex;
    list-style-type: none;
    z-index: 2;
    /* border: 2px solid white; */
    padding-top: 120px;
    height: fit-content;
    width: fit-content;
    font-size: 15px;
    font-weight: 100;

}
.footer-list li{
    margin-right: 20px;
}
.developer-info-footer{
    /* margin-left: auto; */
    /* margin-right: auto; */
    color: white;
    display: flex;
    list-style-type: none;
    z-index: 2;
    /* border: 2px solid white; */
    padding-top: 130px;
    height: fit-content;
    width: fit-content;
    font-size: 12px;
    font-weight: 100;
    margin-left: 6vw;
    opacity: .7;
    text-transform: uppercase;
}

@media (max-width:640px){

    .footer-outer{
    }
    .developer-info-footer{
        text-align: center;
        width: fit-content;
        margin-left: auto;
        margin-right: auto;
        padding-top: 60px;
    }
}