@font-face {
    font-family: missionfontthin;
    src: url(DIN\ Neuzeit\ Grotesk\ W01\ Bold.otf);
  }
.cart-empty-page{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}
.empty-cart-div{
}
.cart-empty{
font-family: missionfontthin;
font-size: 16px;
letter-spacing: 1.6px;
line-height: 26.4px;
margin-bottom: 32.5px;
text-align: center;
}
.shop-our-products{
    font-family: missionfontthin;
font-size: 13px;
letter-spacing: 1.3px;
line-height: 26.4px;
background-color: black;
color: white;
padding-left: 29px;
padding-right: 29px;
padding-top: 10px;
padding-bottom: 10px;
width: fit-content;
margin-left: auto;
margin-right: auto;
border: .1px solid black;
cursor: pointer;
}
.shop-our-products:hover{
background-color: transparent;
color: black;
}