
.items-in-cart-outer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin-top: 118px;
    width: 100%;
    margin-bottom: 200px;
}
.cart-loaded-title{
    font-size: 24px;
    letter-spacing: 2.4px;
    line-height: 39.6px;
    margin-bottom: 67px;
    text-align: center;
}
.items-in-cart{
    width: 1000px;
    height: 242px;
    margin-bottom: 40px;
    display: grid;
    grid-template-columns: 545px 305.83px 149.17px;
}
.items-in-cart div{
/* border: 2px solid black; */

}
.cart-item-title{
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 21.45px;
    margin-bottom: 100px;

}
.cart-item-title-quantity{
    text-align: center;
    /* border: 2px solid green; */

}
.cart-item-title-total{
    text-align: right;
}

.cart-item-content{
    border-top: .1px solid rgb(224, 224, 224);
    border-bottom: .1px solid rgb(224, 224, 224);
    width: 1000px;
    margin-top: -88px;
    display: grid;
    height: fit-content;
    padding-bottom: 0px;
    grid-template-columns: 545px 305.83px 149.17px;

}
.cart-item-content div{
    /* border: 2px solid black; */
    display: flex;

}
.cart-item-img{
    height: 120px;    
    margin-top: 30px;
}
.cart-item-content div div{
    display: block;
    margin-top: 40px;
    margin-left: 30px;
    
}
.cart-item-name{
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 21.45px;
}
.cart-item-price{
    font-size: 13px;
    letter-spacing: 1.3px;
    line-height: 21.45px;
    margin-bottom: 100px;
    margin-top: 0px;
}
.emptycart-btn{
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    text-align: center;
    border: 2px solid beige;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 68px;
    padding-right: 68px;
    color: white;
    width: fit-content;
    background-color: black;
    margin-top: 140px;
    margin-bottom: -60px;
    cursor: pointer;
    border: none;
}
.checkout-div{
    width: 1000px;
    text-align: right;
}
.totalprice{
    /* text-align: right; */
    font-size: 15px;
    letter-spacing: 1.5px;
    line-height: 24.75px;
    color: black;
    padding-top: 80px;
}
.shipping-info{
    font-family: sans-serif;
font-size: 15px;
font-weight: 300;
line-height: 24.75px;

}
.checkout-btn{
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1.3px;
    padding-bottom: 14px;
    padding-top: 14px;
    padding-left: 28px;
    padding-right: 28px;
    background-color: black;
    color: white;
    height: fit-content;
    width: fit-content;
    margin-left: 860px;
    margin-top: 16px;
    border: .1px solid black;
    cursor: pointer;
}
.checkout-btn:hover{
    background-color: transparent;
    color: black;
}
@media(max-width:1240px) {
.items-in-cart{
    grid-template-columns: 577px 50px 373px;
    /* grid-template-columns: 545px 305.83px 149.17px; */


}
}
@media(max-width:1100px) {
    .checkout-div{
        width: 90vw;
    }
    .checkout-btn{
        margin-left: 70vw;
    }
    .items-in-cart-outer{
    }
    .cart-item-content{
        grid-template-columns: 51.93vw 4.5vw 33.57vw;
    }
    .items-in-cart{
        width: 90vw;
    /* border: 2px solid black; */
    grid-template-columns: 57.7% 5% 37.3%;
        
    }
    .cart-item-content{
        width: 90vw;
    }
    }

    .quantity-btn{
        height: 50px;
        /* border: 4px solid bl.ack; */
        margin-top: 100px;
        margin: auto;
    }

    @media (max-width:640px){
        .cart-item-title-quantity{
            display: none;
        }
        .cart-item-title-total{
            display: none;
        }
        .cart-item-name{
            width: 40vw;
        }
        .checkout-btn{
            width: 90vw;
            margin-left: auto;
            margin-right: auto;
            position: relative;
            text-align: center;
            padding-left: 0px;
            padding-right: 0px;
        }
        .emptycart-btn{
            margin-top: 40px;
        }
    }