@font-face {
  font-family: spacex;
  src: url("spacex.woff")
  format("woff")
}
body {
  margin: 0;
 font-family: spacex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

