@font-face {
  font-family: spacex;
  src: url("DIN\ Neuzeit\ Grotesk\ W01\ Bold.otf")
  format("otf")
}
body {
  margin: 0;
 font-family: spacex;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

